<ion-view view-title="{{ 'Edelweiss Learning Management System' | translate }}">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-help-circled" ng-click="showHelp()" aria-label="{{ 'mm.core.help' | translate }}"></button>
  </ion-nav-buttons>
  <ion-content padding="true" id="mm-login-site" mm-state-class>
      <div class="card">
        <div class="item item-text-wrap"><center> Welcome to </br></br>Edelweiss Tokio Life ELearning Management System. </br></br> Click the button below to login to your account.</center></div>
      </div>
      <div class="list list-inset">
        <form>
          <div class="item item-input padding"></br></br>
              <button class="button button-block" ng-click="connect('http://elms.edelweisstokio.in/moodle')" > {{ 'Join ELMS' | translate }}</button>
              <!-- <input type="submit" class="button button-block" value="{{ 'mm.login.connect' | translate }}" > -->
			  </br></br>
          </div>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>